.app__body {
	.modal-body,
	.form-group {
		@at-root {
			.form-control, 
			input,
			textarea {
				background: $white;
				border-color: $input-border-color !important;
				box-shadow: none;
				color: $input-color !important;
				font-family: $font-family-base;
			}
			&::-webkit-input-placeholder {
			    color: #74788d;
			    opacity: 1;
			}
		}
	}
}
