.app__body {
	.modal {
		.modal-content {
			background: $white;
			color: $body-color !important;
			.modal-header {
	    		background: $white;
	    		border: 0;
	    		border-bottom: 1px solid $theme-color-gray;
		    	.modal-title {
		    		color: $sidebar-bg;
					font-family: $font-family-secondary;
					font-weight: 500;
		    		.name {
		    			color: $primary-color;
		    			font-weight: 500;
		    		}
		    	}
		    	.close {
		    		color: $sidebar-bg;
		    	}
	    	}
	    	.modal-body {
	    		.settings-table {
	    			.settings-links {
	    				background: $sidebar-bg;
	    				.nav-pills {
	    					> li {
	    						&.active,
	    						&:hover {
	    							button {
	    								background: rgba(255, 255, 255, 0.1);
	    							}
	    						}
	    					}
	    				}
	    			}
	    			.section-max {
    					li {
    						span {
		    					a {
		    						color: $primary-color;
		    					}
		    				}
		    			}
		    			label {
	    					font-weight: 500;
		    			}
	    			}
	    			.section-min__title {
	    				font-family: $font-family-secondary;
	    				font-weight: 500;
	    			}
	    			.btn-cancel {
	    				color: $primary-color;
	    			}
	    		}
	    		.info__label {
	    			font-weight: 500;
					font-family: $font-family-secondary;
	    		}
			    .channel-switch__suggestion-box {
			    	.suggestion-list__divider {
			    		&:first-child {
				    		margin-top: 5px; 
				    	}
				    }
				}
				.suggestion-list__content {
					background: $sidebar-bg;
				}
				.more-modal__list {
					.more-modal__name {
						font-family: $font-family-secondary;
						font-weight: 500;
						margin-top: 0;
					}
				}
	    	}
	    	.modal-footer {
	    		background: $white;
	    		border-top-color: $theme-color-gray;
	    	}
	    }
	    .about-modal {
	    	a {
	    		color: $primary-color;
	    	}
	    }
    }
}