.app__body {
	.popover {
	    background-color: $white !important;
	    color: $body-color !important;
	    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15) !important;
		&.member-list__popover {
			.more-modal__list {
				.more-modal__row{
					&:hover {
						background: lighten($theme-color-gray, 22%);
						border-color: $primary-color;
						.more-modal__name {
						    font-weight: 500;
						}
					}
					svg {
						fill: $primary-color;
					}
				}
			}
			.more-modal__header {
				span {
			    	font-family: $font-family-secondary;
			    	font-weight: 500;
			    }
			}
			.more-modal__button {
				.btn {
					font-weight: 500;
				}
			}
		}
	}	
}