$primary-color: #5867dd; 
$secondary-color: #54A4DB;
$sidebar-bg: #00263a;
$theme-color-gray: #b9b9b9;
$body-color: #646c9a;
$font-family-base: "Neue Haas Unica W01 Light";
$font-family-secondary: "Neue Haas Unica W01 Medium It";
$input-color: #495057;
$input-border-color: #e2e5ec;