$primary-color: #5867dd; 
$secondary-color: #54A4DB;
$sidebar-bg: #00263a;
$theme-color-gray: #b9b9b9;

.app__body {
	.multi-teams {
		.team-sidebar {
			background: $sidebar-bg !important;
		}
		.team-wrapper {
			.team-container {
				&.active {
					&:before {
						background: $secondary-color !important;
					}
				}
			}
		}
	}
	.sidebar--left {
		background: $sidebar-bg !important;
		.nav {
			li {
				.sidebar-item {
					color: $white !important;
					svg {
						fill: $white !important;
					}
					.icon {
						opacity: 0.8 !important;
					}
					&:hover {
						background: transparent !important;
						color: $secondary-color !important;
						svg {
							fill: $secondary-color !important;
						}
					}
				}
				&.active {
					.sidebar-item {
						background: transparent !important;
						color: $secondary-color !important;
						svg {
							fill: $secondary-color !important;
						}
						&:before {
							background: $secondary-color !important;
						}
					}
				}
			}
		}
		.nav-pills__container {
			li {
				> h4 {
					color: $white !important;
				}
			}
		}
	}
	.sidebar-header-dropdown__icon {
		svg {
			fill: #484f66 !important;
		}
	}
	#post-list {
		.post-list-holder-by-time {
	    	background: #f2f3f8 !important;
	    }
	    .channel-intro {
		    padding-top: 0;
		}
	}
	.app__content {
		background: $white !important;
		color: #646c9a !important;
		.channel-header {
			box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
			.heading {
				color: #48465b !important;
			}
			.channel-header__icon {
				color: $theme-color-gray !important;
				border-color: $theme-color-gray !important;
				svg {
					fill: $theme-color-gray !important;
				}
				&:hover {
					color: $primary-color !important;
					border-color: $primary-color !important;
					svg {
						fill: $primary-color !important;
					}
				}
			}
			.search-bar__container {
				.search__form {
					border-color: $theme-color-gray !important;
					.search-bar {
						color: $theme-color-gray !important;
					}
					.search__icon {
						svg {
						    stroke: $theme-color-gray !important;
						}
					}
				}
			}
			.channel-header__favorites {
				color: #48465b !important;
			}
		}
	}
}